.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://res.cloudinary.com/dcwka06ph/image/upload/v1669691338/Website_project/backgroung_login_oqy72s.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.box {
    position: relative;
    min-width: 400px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 380px;
        height: 420px;
        background: #000;
        transform-origin: bottom right;
        animation: anima 6s linear infinite;
    }

    &::after {
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 380px;
        height: 420px;
        background: #000;
        transform-origin: bottom right;
        animation: anima 6s linear infinite;
        animation-delay: -3s;
    }
    @keyframes anima {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

.form-login {
    position: absolute;
    inset: 2px;
    background: #fff;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;

    h2 {
        color: #333;
        font-weight: 500;
        text-align: center;
        letter-spacing: 0.1em;
    }
}

.form-login__inputBox {
    position: relative;
    width: 300px;
    margin: 15px 0;

    input {
        position: relative;
        width: 100%;
        padding: 20px 10px 10px;
        background: transparent;
        border: none;
        outline: none;
        color: #333;
        font-size: 1em;
        letter-spacing: 0.05em;
        z-index: 10;
    }

    span {
        position: absolute;
        left: 0;
        font-size: 1em;
        padding: 20px 0px 10px;
        color: #333;
        pointer-events: none;
        letter-spacing: 0.05em;
        transition: 0.5s;
    }

    i {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 314px;
        height: 5px;
        background: #ccc;
        border-radius: 4px;
        transition: 0.5s;
        pointer-events: none;
        z-index: 9;
    }
}

.form-login__inputBox input:valid ~ span,
.form-login__inputBox input:focus ~ span {
    color: #333;
    transform: translateX(0px) translateY(-34px);
    font-size: 0.75em;
}

.form-login__inputBox input:valid ~ i,
.form-login__inputBox input:focus ~ i {
    height: 44px;
}

.form-login__links {
    display: flex;
    justify-content: space-between;

    span {
        position: relative;
        display: inline-block;
        border: none;
        outline: none;
        margin: 5px 0;
        padding: 2px 0;
        background: transparent;
        color: #333;
        cursor: pointer;
        border-radius: 4px;
        font-weight: 500;
        margin-top: 10px;
        text-decoration: none;
        letter-spacing: 2px;

        &:hover {
            color: black;
            border-radius: 4px;
            border: 1px solid #000;
            background-color: #ccc;
            padding: 0 5px;
        }
    }
}

.form-login__btn span {
    position: relative;
    display: inline-block;
    border: none;
    outline: none;
    margin: 5px 0;
    padding: 11px 25px;
    border: 2px solid #333;
    background: transparent;
    color: #333;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500;
    margin-top: 10px;
    text-decoration: none;
    letter-spacing: 2px;
}
.form-login__btn span:hover {
    background: #ccc;
    color: #000;
}
.form-login__btn span {
    position: relative;
    z-index: 100;
}
