<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="register.css">
</head>
<body>
    <div class="register">
        <div class="register-header">
            <p class="website-name">Doponline</p>
            <a href="#" class ="logo"></a>
        </div>
        <div class="container">
            <div class="title">Register</div>
            <div class="des">Look like you are the first one here, create an account below to start using Doponline</div>
            <form onsubmit="return false;" id="form">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">NAME</span>
                        <input id="username" type="text">
                    </div>
                    <div class="input-box">
                        <span class="details">EMAIL</span>
                        <input id="tel_or_email" type="text">
                    </div>
                    <div class="input-box">
                        <span class="details">PASSWORD</span>
                        <input id="password" type="text">
                    </div>
                    <div class="input-box">
                        <span class="details">RE-ENTER PASSWORD</span>
                        <input id="confirm_password" type="text">
                    </div>
                    <div class="button">
                        <input type="submit" value="Register">
                    </div>
                </div>
            </form>
        </div>
        <div class="form-register">
            <p class="form-register__infor">Already have an account?</p>
            <a href="/login" class ="form-register__link">Login</a>
        </div>
    </div>
</body>
<script src = "js/register.js"></script>
</html>