// Menu wrapper
.menu-list {
    width: 214px;
    .menu-item {
        margin-left: 0;
        color: (--text);
        background-color: var(--white);
    }
}
.menu-popper {
    padding-bottom: 8px;
}
// Menu items
.menu-item {
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    padding: 11px 16px;
    line-height: 1.8rem;
    font-weight: 600;

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
        color: var(--black);
        border-color: var(--black);
        background-color: #ccc;
    }
}
