@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap');

:root{
    --rotobo:"Roboto", sans-serif;
    --text-color: #fff;
    --light-blue: #52b9ce;
    --primary-color: #548bcf;
}
.primary-color{
    color: var(--primary-color);
}

.text-color{
    color: var(--text-color);
}
.bg-primary-color{
    background-color: var(--primary-color) !important;
}
.font-roboto{
    font-family: var(--rotobo);
}

header{
    background: linear-gradient(to right, #52b9ce, #548bcf);
    font-family: var(--rotobo);
}

header .site-title{
    color: var(--text-color);
}

.container .dropdown-toggle,
.container .dropdown-item{
    font-size: 0.7em;
}

.header-links a{
    font-size: 0.9em;
    text-decoration: none;
    color: white;
}

.navbar-nav{
    padding: 0.5em 0em;
}

.navbar-nav .nav-link{
    font-size: 0.9em;
    color: var(--light-blue) !important;
}

.navbar-nav .nav-item .nav-link{
    padding: 0 1.3em;
}

.navbar-nav .basket-icon{
    margin-right: 6.5rem !important;    
}