.wrapper {
    min-height: 430px;
    width: 100%;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 280px;
    padding-top: 16px;
    background-color: #000;
}

.footer__heading {
    padding-bottom: 10px;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;

    b {
        color: #ee5427;
        line-height: 30px;
    }
}

.footer-list {
    display: block;
    padding-left: 0;
    list-style: none;
}

.footer-item {
    padding: 4px 0;
}

.footer-text {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    padding: 4px 0;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    padding: 4px 0;

    span {
        line-height: 2rem !important;
        font-size: 1.2rem;
        padding: 0 4px;
    }

    &:hover {
        color: #ccc;
    }
}

.footer-p {
    height: 100px;
    color: #ccc;
    background-color: #000;
    text-align: center;
    padding: 12px 0;
}

.copyright {
    height: 50px;
    background-color: #5b5b5b;

    p {
        text-align: center;
        padding-top: 12px;
        color: #adadad;
    }
}

@media (max-width: 739px) {
    .footer_content {
        display: none;
    }
    .inner {
        height: 380px;
    }
    .footer-p {
        display: none;
    }
}
